body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    position: relative;
}
nav a .fa-envelope,
nav a .fa-shopping-cart {
    margin-right: 5px;
}
.hero {
    background-color: #f4f4f4;
    padding: 40px 0;
    text-align: center;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.products article {
    width: 300px;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.products img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.price {
    color: #e44d26; /* Couleur orange associée au maquillage */
    font-weight: bold;
}

button {
    background-color: #e44d26;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #c0351b; /* Couleur foncée d'orange pour le survol */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
